<ul class="list-unstyled">
<% @stores.each do |store| %>
  <li class="store">
    <h4 class=store-link">
      <%= link_to store.name, store %>
    </h4>
    <div>
      <%= store.address1 %>
    </div>
    <div>
      <%= store.address2 %>
    </div>
    <div>
      <%= store.city %>, <%= store.state %> <%= store.zip_code %>
    </div>
  </li>
<% end %>
</ul>
