<div class="center">
  <h4>
    USDA Community Food Security Assessment Toolkit
  </h4>
  <h1>
    Food Store Survey Instrument
  </h1>
  <div class="highlight">
    <h4>
      <%= link_to @store.name, store_path(@store) %>
    </h4>
    <div>
      <%= @store.address1 %>
    </div>
    <div>
      <%= @store.address2 %>
    </div>
    <div>
      <%= @store.city %>, <%= @store.state %> <%= @store.zip_code %>
    </div>
  </div>
</div>

<%= form_for @report, url: reports_path do |f| %>
  <%= f.collection_select(:store_type_id, StoreType.all, :id, :store_type, {prompt: "Select Store Type"},{:class => "form-control input-lg"}) %>


  <h3>Read the following to the store manager before conducting the store survey:</h3>
  <div>
    <p>
      Thank you for allowing me to spend some time in your store collecting information on the availability of selected food items and their prices.
    </p>
    <p>
      The information that we are collecting from a wide variety of stores in the area will help create a profile of food availability and costs in the community.
    </p>
  </div>
  <h3>To the Data Collector:</h3>
  <div>
    <p>
      Please complete the following table by walking through the store and recording the price and weight or volume of the least expensive item for each food listed.
    </p>
    <p>
      The table includes the unit of measure that should be selected for each food. For example potatoes are measured in pounds, eggs are measured by the dozen.
    </p>
    <p>
      It is important that the prices recorded are for the specific food item in the table with no substitutions. If a food item is unavailable on the day that you visit the store, but is usually in stock check with the manager for the normal price.
    </p>
    <p>
      If a food is never in stock mark the the box labeled <b>unavailable</b>. If a food is on sale, check the box marked <b>sale</b> next to the price.
    </p>
  </div>


  <%= f.hidden_field :store_id, :value => @store.id %>


  <% category = nil %>
  <%= f.fields_for :food_availabilities, @report.food_availabilities do |ff| %>

    <% food = Food.find(ff.object.food_id) %>
    <% if (category == nil || category.id != food.food_category_id ) %>
      <% category = FoodCategory.find(food.food_category_id) %>
      <h3><%= category.category %></h3>
    <% end %>
      <h4><%= food.food %></h4>

      <div class="col-sm-6">
        <%= ff.label :unavailable %>
        <%= ff.check_box :unavailable  %>
      </div>
      <div class="col-sm-6">
        <%= ff.label :sale %>
        <%= ff.check_box :sale %>
      </div>

      <div class="form-group col-sm-12">
        <%= ff.label :price, "Lowest Price" %>
        <%= ff.text_field :price, class: "form-control input-lg" %>
      </div>

      <div class="form-group col-sm-6">
        <%= ff.label :quantity %>
        <%= ff.text_field :quantity, class: "form-control input-lg" %>
      </div>

      <div class="form-group col-sm-6">
        <%= ff.label :actual_unit_id, "Unit" %>
        <%= ff.collection_select(:actual_unit_id, Unit.all, :id, :unit, {},{:class => "form-control input-lg"}) %>
      </div>
  <% end %>

<% end %>
