<!DOCTYPE html>
<html>
<head>
  <title>FoodMapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="search" class="bg-primary">
    <div class="container">
      <%= render :partial => 'stores/search_input' %>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
