<!DOCTYPE html>
<html>
<head>
  <title>FoodMapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

    <div id="search" class="bg-primary">
      <div class="container">
        <%= image_tag 'logo.png', height: "25" %>
        <%= render :partial => 'stores/search_input' %>
      </div>
    </div>


    <!-- page content -->
    <div id="content" class="container">
      <%= yield %>
    </div>
    <!-- page content -->


    <div id="footer" class="bg-primary">
      <div class="container">
        <%= render :partial => 'layouts/footer' %>
      </div>
    </div>

  </div>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
