<!DOCTYPE html>
<html>
<head>
  <title>Project Food Desert</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Project Food Desert" />
  <meta property="og:url" content="http://www.projectfooddesert.org/" />
  <meta property="og:image" content="http://www.projectfooddesert.org<%= image_path 'og_image.png' %>" />
  <meta property="og:description" content="Tools for researchers examining food availability in the United States" />
</head>
<body>

  <div id="wrapper">

    <div id="search" class="bg-primary">
      <div class="container">
        <a href="/">
          <%= image_tag 'carrot-lg.png', height: '22', class: "logo" %>
          <%= image_tag 'logo.png', height: "22" %>
        </a>
        <%= render :partial => 'stores/search_input' %>
      </div>
    </div>


    <!-- page content -->
    <div id="content" class="container">
      <%= yield %>
    </div>
    <!-- page content -->


    <div id="footer" class="bg-primary">
      <div class="container">
        <%= render :partial => 'layouts/footer' %>
      </div>
    </div>

  </div>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
